

/* Identité visuelle du client */

#header-form-small.header .logo {
	/*width: 240px;*/
	/*height: 200px;*/
	background: url(../images/logo.png) no-repeat 50% 50%;
	background-color: #fff;
}

#logo{
	width:260px;
	height:200px;
	/*background:url(../images/logo-uniformation.png) center center no-repeat;*/
	background:url(../images/logo.png) center center no-repeat;
    background-color:#FFF;
}






